* {
  font-family: "Montserrat", sans-serif;
}

/* h2 {
  font-size: 100px;
  color: red;
}

.title {
  color: black;
}

p.title {
  color: aqua;
} */

/* .lead {
  font-style: italic;
} */

/* .red {
  color: red;
} */

/* .head li {
  color: red;
} */

/* h1,
.price {
  color: red;
} */

/* li:hover {
  font-size: 40px;
  color: blueviolet;
} */
